/node_modules/
/playwright-report/
/playwright/.cache/

# Playwright
/blob-report/
/playwright/.auth/
/test-results/

#fun
main.test.ts

#sonar
sonar-project.properties
#cucumber
cucumber.tsconfig.json